image: osakared/haxe-ci

test:
  script:
   - npm install
   - npx lix download
   - npx haxe tests.hxml -cpp bin/cpp                   && ./bin/cpp/RunTests

release:
  stage: deploy
  only:
    - tags
  script:
    - bash ./scripts/release_haxelib.sh $HAXELIB_PWD
