language: node_js
node_js: 8

matrix:
    include:
      - os: linux
        dist: xenial
        sudo: required
      - os: osx

install:
  - npm install

script:
  - export TZ='America/Los_Angeles'
  - npx haxelib run travix cpp
  - npx haxelib run travix hl
  - npx haxelib run travix node
  - npx haxelib run travix python
  - npx haxelib run travix lua
